.resumeContainer {
	display: flex;
	flex-direction: column;
}

.resumeContainer > div:first-child {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;

	padding: 1.25rem 1.75rem;

	border-radius: 0.75rem;

	background-color: rgba(0, 0, 0, 0.075);
}

.resumeContainer > div:first-child > img {
	width: 15rem;
}

.resumeContainer > div:first-child > div > h1,
.resumeContainer > div:first-child > div > h2 {
	font-family: 'Permanent Marker', sans-serif;
	color: var(--title);
}

.resumeContainer > div:first-child > div > h1 {
	font-size: 2.2rem;
	color: var(--red);
}

.resumeContainer > h1 {
	text-align: center;
	font-size: 1.62rem;

	margin-top: 3rem;
	padding: 0.5rem;

	background-color: rgba(0, 0, 0, 0.025);

	border-radius: 0.35rem;
}

.resumeContainer > h1 > strong {
	color: var(--red);
}

.resumeContainer > div:last-child {
	display: flex;
	justify-content: space-between;

	margin-top: 5rem;
}

.resumeContainer > div:last-child button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 35%;

	padding: 1.75rem 0;

	border: 0;
	border-radius: 0.78rem;

	font-size: 1.8rem;
	color: var(--white);

	transition: 330ms;
}

.resumeContainer > div:last-child button:first-child {
	background-color: var(--red);
}

.resumeContainer > div:last-child button:last-child {
	background-color: var(--red-highlight);
}

.resumeContainer > div:last-child button:hover {
	background-color: var(--white);
	color: var(--red);
}

.resumeModal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: #2E2E2E;
}

.resumeModal > h1 {
	text-align: center;
	font-size: 4rem;
	color: var(--red);
}

.resumeModal > h2 {
	color: var(--white);
}

@media (max-width: 750px) {
	.resumeContainer > div:first-child > div > h1 {
		margin-top: 1.8rem;
	}
}
