.sizeStepContainer {
	height: 100%;
}

.sizeStepContainer div.chosenFlavor {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 1.5rem 2rem;

	border-radius: 0.75rem;

	background-color: rgba(0, 0, 0, 0.025);
}

.sizeStepContainer div.chosenFlavor .highlight {
	position: relative;

	background-color: var(--blue);
}

.sizeStepContainer div.chosenFlavor .highlight:before {
	content: 'Recomendado';
	position: absolute;

	padding: 0.5rem;

	right: 0;
	top: 0;

	background-color: var(--blue);
}

.sizeStepContainer div.chosenFlavor > h1 {
	font-family: 'Permanent Marker', sans-serif;
	color: var(--title);
}

.sizeStepContainer div.chosenFlavor > img {
	width: 7.5rem;
}

.sizeStepContainer strong {
	color: var(--red);
}

.sizeStepContainer > h1 {
	margin-top: 3rem;
	text-align: center;
}
