.sizeStepContainer {
	height: 100%;
}

.sizeStepContainer div.chosenFlavor {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 1.5rem 2rem;

	background-color: rgba(0, 0, 0, 0.025);
}

.sizeStepContainer div.chosenFlavor > h1 {
	font-family: 'Permanent Marker', sans-serif;
	color: var(--title);
}

.sizeStepContainer div.chosenFlavor > img {
	width: 7.5rem;
}

.sizeStepContainer strong {
	color: var(--red);
}
