.sizeStepContainer {
	height: 100%;
}

.sizeStepContainer div.chosenFlavor {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 1.5rem 2rem;

	border-radius: 0.75rem;

	text-align: center;

	background-color: rgba(0, 0, 0, 0.025);
}

.chosenFlavorHighlight {
	position: relative;

	background-color: var(--blue);
}

.chosenFlavorHighlight:before {
	content: 'Recomendado';
	position: absolute;

	padding: 0.5rem;

	right: -0.37rem;
	top: -0.63rem;

	background-color: var(--red-highlight);
	color: var(--white);

	border-radius: 0.25rem;
}

.chosenFlavorHighlight > p {
	margin-top: 0.25rem;

	font-size: 1.15rem;
}

.sizeStepContainer div.chosenFlavor > h1 {
	font-family: 'Permanent Marker', sans-serif;
	color: var(--title);
}

.sizeStepContainer div.chosenFlavor > img {
	width: 12rem;

	margin-top: 1.7rem;
}

.sizeStepContainer strong {
	color: var(--red);
}

.sizeStepContainer > h1 {
	margin-top: 3rem;
	text-align: center;

	color: var(--title);
}

.sizeStepContainer div.chooseSize {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 3rem;
}
