.edgeContainer {
	position: relative;

	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 1rem;
	padding: 1.5rem;

	background-color: rgba(0, 0, 0, 0.025);

	border-radius: 0.5rem;

	cursor: pointer;

	transition: 330ms;
}

.edgeContainer:before {
	content: '';
	position: absolute;

	width: 8%;
	height: 100%;

	left: 0;

	background-color: var(--red-highlight);

	transform: translateX(-50%);

	opacity: 0;
}

.edgeContainer:hover {
	background-color: var(--red);
}

.edgeContainer:hover:before {
	opacity: 1;

	animation-timing-function: ease-out;
	animation-duration: 600ms;
	animation-fill-mode: forwards;
	animation-name: animateEdgeContainer;
}

.edgeContainer:hover > h1 {
	color: var(--white);
	font-size: 1.5rem;
}

.edgeContainer > h1 {
	text-align: center;

	color: var(--title);

	transition: 330ms;
}

@keyframes animateEdgeContainer {
	from {
		transform: translateX(-50%);
	}
	to {
		transform: translateX(0);
	}
}
