.flavorContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 1rem;
	margin: 1rem;

	text-align: center;

	border-radius: 1rem;

	background-color: rgba(0, 0, 0, 0.015);

	cursor: pointer;

	transition: 370ms;
}

.flavorContainer:hover {
	background-color: var(--red);
	color: var(--white);
}

.flavorContainerActive {
	background-color: var(--red);
	color: var(--white);
}

.flavorContainer img {
	width: 8rem;
}

.flavorContainer span {
	font-size: 1.5rem;

	margin-top: 1rem;
}
